//-Skicka med extra information till varje view via res.render() som 
//- /*byter ut innehållet baserat på vilken view man går till. Du måste 
//- alltså använda variabler i dina pug-filer.*/


html
    head
        title=dfdsf
        link(rel="stylesheet", href="style.css")
    body
      block layout
        p this is layout page.
